.start-menu {
  -fx-background-image: url("cssPhotos/startscreen.png");
}

.level-background {
  -fx-background-color: Black;
}

.menu-text {
  -fx-fill: White;
}

.label{
  -fx-text-fill: White;
}

.button {
  -fx-font-size: 14 pt;
  -fx-font-family: "Arial";
  -fx-background-color: #3b3232;
  -fx-text-fill: White;
}

.combo-box {
  -fx-font-size: 14 pt;
  -fx-font-family: "Arial";
  -fx-background-color: #3b3232;
}

.list-cell{
  -fx-text-fill: White;
  -fx-background-color: #3b3232;
}

.path-block{
  -fx-fill: #654321;
  -fx-stroke: #654321;
}

.non-path-block{
  -fx-fill: DarkGreen;
  -fx-stroke: DarkGreen;
}