.start-menu {
  -fx-background-image: url("cssPhotos/startscreen.png");
}

.level-background {
  -fx-background-color: Black;
}

.menu-text {
  -fx-fill: White;
}

.button {
  -fx-font-size: 14 pt;
  -fx-font-family: "Arial";
  -fx-background-color: #3b3232;
  -fx-text-fill: White;
}

.combo-box {
  -fx-font-size: 14 pt;
  -fx-font-family: "Arial";
  -fx-background-color: #3b3232;
}

.list-cell{
  -fx-text-fill: White;
}

.path-block{
  -fx-fill: Purple;
  -fx-stroke: Purple;
}

.non-path-block{
  -fx-fill: Blue;
  -fx-stroke: Blue
}