.start-menu {
  -fx-background-image: url("cssPhotos/startscreen.png");
}

.level-background {
  -fx-background-color: Brown;
}

.menu-text {
  -fx-fill: White;
}

.label{
  -fx-text-fill: White;
}

.button {
  -fx-font-size: 14 pt;
  -fx-font-family: "Arial";
  -fx-background-color: Gold;
  -fx-text-fill: Black;
}

.combo-box {
  -fx-font-size: 14 pt;
  -fx-font-family: "Arial";
  -fx-background-color: Gold;
}

.list-cell{
  -fx-text-fill: Black;
  -fx-background-color: Gold;
}

.path-block{
  -fx-fill: Orange;
  -fx-stroke: Orange;
}

.non-path-block{
  -fx-fill: Red;
  -fx-stroke: Red;
}